{{!-- Crear una vista “home.handlebars” la cual contenga una lista de todos los productos agregados hasta el momento  --}}
<h1>Listado de productos</h1>
<h3>Hola <samp id="username"></samp>  Estos son todos los productos</h3>

<div class="productsContenedor">
    <p id="productsLogs"></p>
</div>

<div>
    <button id="opinar">Dar mi opinion</button>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> {{!-- sweetalert2 --}}
<script src="/socket.io/socket.io.js"></script> {{!-- esto es del lado del cliente --}}
<script src="/js/index.js"></script>