{{!-- Esta es mi motor de plantilla --}}


este podria ser para los filtros.
O eso puede estar en products. directamente


<h1>Bienvenido al chat de productos</h1>
<h2>Hola <samp id="username"></samp>  queremos escuchar tu opinion</h2>
<p id="typing"></p>

<div>
    <input id="chatbox">
</div>
<div> <h3>Mensajes</h3>
    <p id="messageLogs"></p>
</div>
<div> <h3>usuarios conectados</h3>
    <p id="userList"></p>
</div>

<div>
    <button id="opinar">Dar mi opinion</button>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> {{!-- sweetalert2 --}}
<script src="/socket.io/socket.io.js"></script> {{!-- esto es del lado del cliente --}}
<script src="/js/index.js"></script>