* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    
}

nav ul li a:hover {
    color: #f0a500;
}

/* Estilo del footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto; /* Para mantener el footer en la parte inferior */
}

footer p {
    margin: 0.5rem 0;
}
.productsContenedor{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
     margin-left: 5%;
    width: 90%;
    min-height: 50%;
    height: 650px;
    background-color: beige;
}

.productsContenedorDeHome{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
     margin-left: 5%;
    width: 90%;
    min-height: 50%;
    height: auto;
    background-color: rgb(109, 169, 225);  
    padding: 10px;
}

.card {
    max-width: 300px; 
    margin: 0 auto; 
}

.card-img-top {
    max-height: 200px; 
    object-fit: cover; 
}
