  <header>
        <nav>
            <ul>
                <li><a href="http://localhost:3037/products">Todos los Juegos</a></li> 
                <li><a href="http://localhost:3037/newProduct">Nuevo Juego</a></li>
                <li><a href="http://localhost:3037/cart">Mi carrito</a></li>
                <li><a href="https://chatgpt.com/">Ayuda</a></li>
            </ul>
        </nav>
    </header>