<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     
    <link rel="stylesheet" href="css/style.css">
    <title>Coderhouse Nahuel Lopez Back 1</title>
</head>
<body>
    {{> header}}
     <main>
        {{{body}}}
     </main>

    {{> footer}}

      
</body>
</html>